.fci-icons{
    position: fixed;
    bottom: 5%;
    z-index: 1000001;
    background-color: #c1c4c9;
    border: 3px solid #c1c4c9;
    border-radius: 13px;
    line-height: 0px !important;
}
.fci-icons img {
    height: 48px;
    display: inline-block;
    padding-right: 5px;
    margin: 5px;
    vertical-align: baseline;
}
.fci-icons a:last-child img{
    padding-right: 0px;
}
.fci-icons-left{
    left: 5%;
}
.fci-icons-right{
    right: 5%;
}